section{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    place-content: center;
    gap: 10px;
}

form{
    width: 350px;
}

form div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
}

form label{
    font-weight: 600;
    color: var(--text-color);
}

form input,
form select{
    padding: 6px;
    border-radius: 6px;
    border: 1.5px solid var(--border-color);
}

form button{
    border-radius: 6px;
    padding: 10px;
    color: white;
    background-color: var(--blue);
    font-weight: 600;
    border: none;
    margin-top: .8rem;
    font-size: 1rem;
    cursor: pointer;
}

form .btn-volver{
    background-color: var(--border-color);
    color: var(--text-color);
}